$negroPrimario :#292929;
$blancoPrimario :#f0f0f0;
$AzulMarino :#1a343b;
$azulPrimario : #00c6d2;
$azulSecundario : #0f8176;
$grisPrimario : #324b4c;
$fondoBoton: linear-gradient(to bottom, #323232, #323332, #333333, #333433, #343434);